.App,
#root {
  background-color: #464f51;
  color: #ebf5ee;
}

.team1 {
  color: #ffc100;
}
.team2 {
  color: #f06c9b;
}

.Button {
  background-color: red;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.namesContainer {
  margin-bottom: 15px;
}

/* Disable hover on mobile screen sizes */
@media only screen and (max-width: 768px) {
  /* Chakra UI default className for the bid and actual buttons */
  .css-4o5e5l:hover, 
  .css-4o5e5l:active
  {
    background: transparent!important;
  }
}
